<% if @session.mode === "subscription" %>
  <p>Nous avons bien reçu votre inscription à notre abonnement ! Merci :)</p>
<% elsif @session.mode === "payment" %>
  <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  <p>Le statut de votre paiement est : <%= @payment_intent.status %>.</p>
<% end %>
<%=link_to "Retour à l'accueil", root_path, class:"btn btn-dark"%>